﻿
.bordered {
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    height: 250px;
    max-width: 330px;
}

.starRating span {
    width: 24px;
    height: 24px;
   /* background-image: url(http://learn.knockoutjs.com/Content/TutorialSpecific/stars.png); */
    background-image: url(/Content/stars.png);
    display: inline-block;
    cursor: pointer;
    background-position: -24px 0;
}

    .starRating span.chosen {
        background-position: 0 0;
    }
.starRating:hover span {
    /*background-position: -24px 0;*/
    background-position: 0 0;
}
.starRating:hover span.hoverChosen {
    background-position: 0 0;
}